<section class="fd-section">
  <header class="fd-page__header">
    <div class="fd-action-bar">
      <div class="fd-action-bar__back">
        <button class=" fd-button--secondary fd-button--compact sap-icon--nav-back"></button>
      </div>
      <div class="fd-action-bar__header">
        <h1 class="fd-action-bar__title">
          Page Title
        </h1>
        <p class="fd-action-bar__description">Action bar Description
        </p>
      </div>
      <div class="fd-action-bar__actions">
        <button class=" fd-button--primary fd-button--l">Button</button>
        <button class=" fd-button--main fd-button--l">Button</button>
      </div>
    </div>
  </header>
</section>
<div class="section-spacer"></div>
<section class="fd-section">
  <div class="fd-alert fd-alert--dismissible" role="alert" id="j2ALl423">
    <button class="fd-alert__close" aria-controls="j2ALl423" aria-label="Close"></button>
    Default alert with a <a href="#" class="fd-link">link <span class="sap-icon--arrow-right sap-icon--s"></span></a>
  </div>
  <div class="fd-alert fd-alert--warning fd-alert--dismissible" role="alert" id="j2ALl423">
    <button class="fd-alert__close" aria-controls="j2ALl423" aria-label="Close"></button>
    Warning message with a <a href="#" class="fd-link">link <span class="sap-icon--arrow-right sap-icon--s"></span></a>
  </div>
  <div class="fd-alert fd-alert--error fd-alert--dismissible" role="alert" id="j2ALl423">
    <button class="fd-alert__close" aria-controls="j2ALl423" aria-label="Close"></button>
    Error message with a <a href="#" class="fd-link">link <span class="sap-icon--arrow-right sap-icon--s"></span></a>
  </div>
</section>
<div class="section-spacer"></div>
<section class="fd-section">
  <button class="fd-button--action-bar">Action Bar Button</button>
  <button class="fd-button">Primary Button</button>
  <button class="fd-button--secondary">Secondary Button</button>
  <button class="fd-button--toolbar">Toolbar Button</button>
  <button class="fd-button--positive">Accept</button>
  <button class=" fd-button--negative">Reject</button>
</section>
<div class="section-spacer"></div>
<section class="fd-section">
  <div class="fd-form__item fd-form__item--check">
    <label class="fd-form__label" for="ImBw4551">
      <span class="fd-toggle fd-toggle--xs fd-form__control">
        <input type="checkbox" name="" value="" id="ImBw4551">
        <span class="fd-toggle__switch" role="presentation"></span>
      </span>
      Extra Small Toggle
    </label>
  </div>

  <div class="fd-form__item fd-form__item--check">
    <label class="fd-form__label" for="ImBw4551">
      <span class="fd-toggle fd-toggle--s fd-form__control">
        <input type="checkbox" name="" value="" id="ImBw4551" checked>
        <span class="fd-toggle__switch" role="presentation"></span>
      </span>
      Small Toggle
    </label>
  </div>

  <div class="fd-form__item fd-form__item--check">
    <label class="fd-form__label" for="P3D2k380">
      <span class="fd-toggle fd-form__control">
        <input type="checkbox" name="" value="" id="P3D2k380">
        <span class="fd-toggle__switch" role="presentation"></span>
      </span>
      Default Toggle
    </label>
  </div>

  <div class="fd-form__item fd-form__item--check">
    <label class="fd-form__label" for="V2bRj442">
      <span class="fd-toggle fd-toggle--l fd-form__control">
        <input type="checkbox" name="" value="" id="V2bRj442" checked>
        <span class="fd-toggle__switch" role="presentation"></span>
      </span>
      Large Toggle
    </label>
  </div>
</section>
<div class="section-spacer"></div>
<section class="fd-section">
  <ul class="fd-tabs" role="tablist">
    <li class="fd-tabs__item">
      <a class="fd-tabs__link" aria-controls="fuCwV550" href="#fuCwV550" role="tab">Link</a>
    </li>
    <li class="fd-tabs__item">
      <a class="fd-tabs__link" aria-controls="AiWfz165" aria-selected="true" href="#AiWfz165" role="tab">Selected</a>
    </li>
    <li class="fd-tabs__item">
      <a class="fd-tabs__link" aria-controls="7ae0T849" href="#7ae0T849" role="tab">Link</a>
    </li>
    <li class="fd-tabs__item">
      <a class="fd-tabs__link" aria-controls="IR27Y941" aria-disabled="true" role="tab">Disabled</a>
    </li>
  </ul>
  <div class="fd-tabs__panel" aria-expanded="false" id="fuCwV550" role="tabpanel">
    Lorem ipsum
  </div>
  <div class="fd-tabs__panel" aria-expanded="true" id="AiWfz165" role="tabpanel">
    Dolor sit
  </div>
  <div class="fd-tabs__panel" aria-expanded="false" id="7ae0T849" role="tabpanel">
    Nullam ut
  </div>
  <div class="fd-tabs__panel" aria-expanded="false" id="IR27Y941" role="tabpanel">
    Tincidunt nunc
  </div>
</section>
<div class="section-spacer"></div>
<section class="fd-section">
  <div class="modal-demo-bg">
    <div class="fd-modal">
      <div class="fd-modal__content" role="document">
        <div class="fd-modal__header">
          <h1 class="fd-modal__title">Delete</h1>
          <button class="fd-button--secondary     fd-modal__close" aria-label="close"></button>
        </div>
        <div class="fd-modal__body">
          Do you want to delete item <b>X</b>?
        </div>
        <footer class="fd-modal__footer">
          <div class="fd-modal__actions">
            <button class="fd-button--secondary">No</button>
            <button class="fd-button--primary">Yes</button>
          </div>
        </footer>
      </div>
    </div>
  </div>
</section>
<div class="section-spacer"></div>
<section class="fd-section">
  <header class="fd-page__header">
    <div class="fd-action-bar">
      <div class="fd-action-bar__header">
        <h1 class="fd-action-bar__title">
          Tiles
        </h1>
        <p class="fd-action-bar__description">Optional page intro lorem ipsum dolor</p>
      </div>

      <div class="fd-action-bar__actions">
        <button class="fd-button sap-icon--add">Add New Item</button>
      </div>

    </div>
  </header>
  <div class="fd-panel">
    <div class="fd-panel__header">
      <h1 class="fd-panel__title">
        Items (18)
      </h1>
      <div class="fd-panel__actions">
        <button class=" fd-button--s fd-button--toolbar sap-icon--search" aria-label="Search"></button>
        <div class="fd-button-group" role="group" aria-label="Show as">
          <button class=" fd-button--grouped fd-button--s sap-icon--grid" aria-pressed="true"></button>
          <button class=" fd-button--grouped fd-button--s sap-icon--list"></button>
        </div>
      </div>
    </div>
    <div class="fd-panel__body fd-panel__body--bleed">
      <div class="fd-tile-grid fd-tile-grid--4col">
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
        <div class="fd-tile">
          <div class="fd-tile__media">
            <span class=" fd-identifier--m sap-icon--person-placeholder fd-has-background-color-accent-1"></span>
          </div>
          <div class="fd-tile__content">
            <h2 class="fd-tile__title">Lorem ipsum</h2>
            <p>Second line</p>
            <p>
              <span class="fd-badge fd-badge--success fd-badge--filled fd-sap-icon--accept">
                Active
              </span>
            </p>
          </div>
          <div class="fd-tile__actions">
            <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fd-section">
  <header class="fd-page__header">
    <div class="fd-action-bar">
      <div class="fd-action-bar__header">
        <h1 class="fd-action-bar__title">
          Table
        </h1>
        <p class="fd-action-bar__description">Optional page intro lorem ipsum dolor</p>
      </div>

      <div class="fd-action-bar__actions">
        <button class="fd-button sap-icon--add">Add New Item</button>
      </div>

    </div>
  </header>
  <div class="fd-panel">
    <div class="fd-panel__header">
      <h1 class="fd-panel__title">
        Items (1180)
      </h1>
      <div class="fd-panel__actions">
        <div class="fd-dropdown fd-dropdown--s">
          <button class="fd-dropdown__control fd-button--toolbar fd-button--s sap-icon--sort" aria-controls="tf5QS710"
            aria-expanded="false" aria-haspopup="true">
            Newest
          </button>
          <nav class="fd-dropdown__menu" aria-hidden="true" id="tf5QS710">
            <ul class="fd-dropdown__list">
              <li>
                <a href="#" class="fd-dropdown__item">Option 1</a>
              </li>
              <li>
                <a href="#" class="fd-dropdown__item">Option 2</a>
              </li>
              <li>
                <a href="#" class="fd-dropdown__item">Option 3</a>
              </li>
            </ul>
          </nav>
        </div>
        <button class="fd-button--toolbar fd-button--s sap-icon--filter" aria-controls="yQUnd326" aria-haspopup="true"
          aria-expanded="false" aria-label="Filter">Filter</button>
        <div class="fd-button-group" role="group" aria-label="Show as">
          <button class=" fd-button--grouped fd-button--s sap-icon--grid"></button>
          <button class=" fd-button--grouped fd-button--s sap-icon--list" aria-pressed="true"></button>
        </div>
      </div>
    </div>
    <div class="fd-panel__filters" aria-hidden="true" id="yQUnd326">
      <div class="fd-dropdown fd-dropdown--s">
        <button class="fd-dropdown__control fd-button--toolbar fd-button--s" aria-controls="CVXoG110" aria-expanded="false"
          aria-haspopup="true">
          Color
        </button>
        <nav class="fd-dropdown__menu" aria-hidden="true" id="CVXoG110">
          <ul class="fd-dropdown__list">
            <li>
              <a href="#" class="fd-dropdown__item">Option 1</a>
            </li>
            <li>
              <a href="#" class="fd-dropdown__item">Option 2</a>
            </li>
            <li>
              <a href="#" class="fd-dropdown__item">Option 3</a>
            </li>
          </ul>
        </nav>

      </div>
      <div class="fd-dropdown fd-dropdown--s">
        <button class="fd-dropdown__control fd-button--toolbar fd-button--s" aria-controls="p7mxb212" aria-expanded="false"
          aria-haspopup="true">
          Size
        </button>
        <nav class="fd-dropdown__menu" aria-hidden="true" id="p7mxb212">
          <ul class="fd-dropdown__list">
            <li>
              <a href="#" class="fd-dropdown__item">Option 1</a>
            </li>
            <li>
              <a href="#" class="fd-dropdown__item">Option 2</a>
            </li>
            <li>
              <a href="#" class="fd-dropdown__item">Option 3</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="fd-panel__filters" aria-hidden="false">
      <span class="fd-tag" role="button">Bibendum</span>
      <span class="fd-tag" role="button">Bibendum</span>
      <span class="fd-tag" role="button">Bibendum</span>
      <span class="fd-tag" role="button">Bibendum</span>
      <span class="fd-tag" role="button">Bibendum</span>
      <button class=" fd-button--secondary fd-button--s">Clear All</button>
    </div>
    <div class="fd-panel__body fd-panel__body--bleed">
      <table class="fd-table">
        <thead>
          <tr>
            <th></th>
            <th>Column Header</th>
            <th>Column Header</th>
            <th>Column Header</th>
            <th>Column Header</th>
          </tr>
        </thead>
        <tbody>
          <tr aria-selected="true">
            <td><input type="checkbox" checked=""></td>
            <td>
              <a class="fd-has-font-weight-semi">user.name@email.com</a>
            </td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>01/26/17</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>
              <a class="fd-has-font-weight-semi">user.name@email.com</a>
            </td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>01/26/17</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>
              <a class="fd-has-font-weight-semi">user.name@email.com</a>
            </td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>01/26/17</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>
              <a class="fd-has-font-weight-semi">user.name@email.com</a>
            </td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>01/26/17</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>
              <a class="fd-has-font-weight-semi">user.name@email.com</a>
            </td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>01/26/17</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>
              <a class="fd-has-font-weight-semi">user.name@email.com</a>
            </td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>01/26/17</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>
              <a class="fd-has-font-weight-semi">user.name@email.com</a>
            </td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>01/26/17</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>
              <a class="fd-has-font-weight-semi">user.name@email.com</a>
            </td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>01/26/17</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>
              <a class="fd-has-font-weight-semi">user.name@email.com</a>
            </td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>01/26/17</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>
              <a class="fd-has-font-weight-semi">user.name@email.com</a>
            </td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>01/26/17</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>
              <a class="fd-has-font-weight-semi">user.name@email.com</a>
            </td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>01/26/17</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="fd-panel__footer">
      <div class="fd-pagination">
        <span class="fd-pagination__total">1180 items</span>
        <nav class="fd-pagination__nav">
          <a href="#" class="fd-pagination__link fd-pagination__link--previous" aria-label="Previous" aria-disabled="false"></a>
          <a href="#" class="fd-pagination__link">1</a>
          <span class="fd-pagination__link fd-pagination__link--more" role="presentation"></span>
          <a href="#" class="fd-pagination__link">24</a>
          <a href="#" class="fd-pagination__link" aria-selected="true">25</a>
          <a href="#" class="fd-pagination__link">26</a>
          <span class="fd-pagination__link fd-pagination__link--more" role="presentation"></span>
          <a href="#" class="fd-pagination__link">59</a>
          <a href="#" class="fd-pagination__link fd-pagination__link--next" aria-label="Next" aria-disabled="false"></a>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="fd-section">
  <header class="fd-page__header">
    <div class="fd-action-bar">
      <div class="fd-action-bar__header">
        <h1 class="fd-action-bar__title">
          Tree
        </h1>
        <p class="fd-action-bar__description">Optional page intro lorem ipsum dolor</p>
      </div>

      <div class="fd-action-bar__actions">
        <button class="fd-button sap-icon--add">Add New Item</button>
      </div>

    </div>
  </header>
  <div class="fd-panel">
    <div class="fd-panel__header">
      <h1 class="fd-panel__title">
        Categories
      </h1>
    </div>
    <div class="fd-panel__body fd-panel__body--bleed">
      <div class="fd-tree fd-tree--header">
        <div class="fd-tree__row fd-tree__row--header">
          <div class="fd-tree__col fd-tree__col--control">
            <button class="fd-tree__control" aria-label="Expand all" aria-controls="DweQe422" aria-pressed="false"></button>
            Column Header
          </div>
          <div class="fd-tree__col">
            Column Header
          </div>
          <div class="fd-tree__col">
            Column Header
          </div>
          <div class="fd-tree__col">
            Status
          </div>
          <div class="fd-tree__col fd-tree__col--actions"></div>
        </div>
      </div>
      <ul class="fd-tree" id="DweQe422" role="tree">
        <li class="fd-tree__item" role="treeitem" id="yD5mz259" aria-expanded="false">
          <div class="fd-tree__row">
            <div class="fd-tree__col fd-tree__col--control">
              <button class="fd-tree__control" aria-label="Expand" aria-controls="yD5mz259" aria-pressed="false"></button>
              First Level
            </div>
            <div class="fd-tree__col">
              Secondary Value
            </div>
            <div class="fd-tree__col">
              Secondary Value
            </div>
            <div class="fd-tree__col">
              <span class="fd-label">
                Inactive
              </span>
            </div>
            <div class="fd-tree__col fd-tree__col--actions">
              <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
            </div>
          </div>
          <ul class="fd-tree__group fd-tree__group--sublevel-1 is-hidden" role="group" aria-hidden="true">
            <li class="fd-tree__item" role="treeitem" id="FCFWI960" aria-expanded="false">
              <div class="fd-tree__row">
                <div class="fd-tree__col fd-tree__col--control">
                  <button class="fd-tree__control" aria-label="Expand" aria-controls="FCFWI960" aria-pressed="false"></button>
                  Second Level
                </div>
                <div class="fd-tree__col">
                  Secondary Value
                </div>
                <div class="fd-tree__col">
                  Secondary Value
                </div>
                <div class="fd-tree__col">
                  <span class="fd-label">
                    Inactive
                  </span>
                </div>
                <div class="fd-tree__col fd-tree__col--actions">
                  <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
                </div>
              </div>
              <ul class="fd-tree__group fd-tree__group--sublevel-2 is-hidden" role="group" aria-hidden="true">
                <li class="fd-tree__item" role="treeitem" id="7xZEz738" aria-expanded="false">
                  <div class="fd-tree__row">
                    <div class="fd-tree__col fd-tree__col--control">
                      <button class="fd-tree__control" aria-label="Expand" aria-controls="7xZEz738" aria-pressed="false"></button>
                      Third Level
                    </div>
                    <div class="fd-tree__col">
                      Secondary Value
                    </div>
                    <div class="fd-tree__col">
                      Secondary Value
                    </div>
                    <div class="fd-tree__col">
                      <span class="fd-label">
                        Inactive
                      </span>
                    </div>
                    <div class="fd-tree__col fd-tree__col--actions">
                      <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
                    </div>
                  </div>
                  <ul class="fd-tree__group fd-tree__group--sublevel-3 is-hidden" role="group" aria-hidden="true">
                    <li class="fd-tree__item" role="treeitem">
                      <div class="fd-tree__row">
                        <div class="fd-tree__col fd-tree__col--control">
                          Fourth Level
                        </div>
                        <div class="fd-tree__col">
                          Secondary Value
                        </div>
                        <div class="fd-tree__col">
                          Secondary Value
                        </div>
                        <div class="fd-tree__col">
                          <span class="fd-label">
                            Inactive
                          </span>
                        </div>
                        <div class="fd-tree__col fd-tree__col--actions">
                          <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="fd-tree__item" role="treeitem">
              <div class="fd-tree__row">
                <div class="fd-tree__col fd-tree__col--control">
                  Second Level
                </div>
                <div class="fd-tree__col">
                  Secondary Value
                </div>
                <div class="fd-tree__col">
                  Secondary Value
                </div>
                <div class="fd-tree__col">
                  <span class="fd-label">
                    Default
                  </span>
                </div>
                <div class="fd-tree__col fd-tree__col--actions">
                  <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="fd-tree__item" role="treeitem" id="GoFSH985" aria-expanded="false">
          <div class="fd-tree__row">
            <div class="fd-tree__col fd-tree__col--control">
              <button class="fd-tree__control" aria-label="Expand" aria-controls="GoFSH985" aria-pressed="false"></button>
              First Level
            </div>
            <div class="fd-tree__col">
              Secondary Value
            </div>
            <div class="fd-tree__col">
              Secondary Value
            </div>
            <div class="fd-tree__col">
              <span class="fd-label">
                Default
              </span>
            </div>
            <div class="fd-tree__col fd-tree__col--actions">
              <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
            </div>
          </div>
          <ul class="fd-tree__group fd-tree__group--sublevel-1 is-hidden" role="group" aria-hidden="true">
            <li class="fd-tree__item" role="treeitem">
              <div class="fd-tree__row">
                <div class="fd-tree__col fd-tree__col--control">
                  Second Level
                </div>
                <div class="fd-tree__col">
                  Secondary Value
                </div>
                <div class="fd-tree__col">
                  Secondary Value
                </div>
                <div class="fd-tree__col">
                  <span class="fd-label">
                    Inactive
                  </span>
                </div>
                <div class="fd-tree__col fd-tree__col--actions">
                  <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="fd-tree__item" role="treeitem">
          <div class="fd-tree__row">
            <div class="fd-tree__col fd-tree__col--control">
              First Level
            </div>
            <div class="fd-tree__col">
              Secondary Value
            </div>
            <div class="fd-tree__col">
              Secondary Value
            </div>
            <div class="fd-tree__col">
              <span class="fd-label">
                Inactive
              </span>
            </div>
            <div class="fd-tree__col fd-tree__col--actions">
              <button class=" fd-button--secondary sap-icon--vertical-grip" aria-label="More"></button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
